UseTab: Always
TabWidth: 4
IndentWidth: 4
BasedOnStyle: LLVM
PointerAlignment: Left
SpaceAfterCStyleCast: false
BreakBeforeBraces: Custom
AlignArrayOfStructures: None
BraceWrapping:
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterFunction: false
  AfterExternBlock: false
  BeforeElse: true
ColumnLimit: 140
IndentCaseLabels: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AlignConsecutiveMacros: true
IndentPPDirectives: AfterHash
AlignConsecutiveAssignments: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BinPackArguments: false
SortIncludes: true